{% extends "base.html" %} {% block content %}
<!--ここからは同じ。-->
<section class="module">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h4 class="font-alt mb-0">ユーザー情報の登録</h4>
                <hr class="divider-w mt-10 mb-20">
                <form class="form" role="form" action="/confirm" method="POST" enctype="multipart/form-data">
                    <h5 class="font-alt mb-0">ユーザー名</h5>
                    <div class="form-group">
                        <input type="hidden" name="user_id" value="{{reset_user_id}}">
                        <input class="form-control input-lg" type="text" name="user_name" />
                    </div>
                    <div class="form-group">
                        <input type="file" name="image" accept="image/jpeg">
                    </div>
                    <h4 class="font-alt mb-0">得意な技術</h4>
                    <div class="form-group">
                        {% for i in tag%}
                        <label><input type="checkbox" name="fav" value="{{i}}">{{i}}</label> {% endfor %}
                    </div>
                    <div class="form-group">
                        <label>パスワード</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>
                    <div class="form-group">
                        <label>パスワード (再確認)</label>
                        <input type="password" class="form-control" name="confirm" oninput="CheckPassword(this)" required>
                    </div>
                    <button class="btn btn-primary btn-round" type="submit"><i class="fa fa-paper-plane-o"></i> 設定</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}